@model WeatherModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Weather Application</h1> *@
    <br />
    <br />
    <form asp-controller="Home" asp-action="GetWeatherDetails" method="post">
        <table class="center" style="width:100%">
            <tr>
                <td colspan="2">
                    <div>
                        <input class="rounded-box" type="text" name="location" placeholder="Search for cities" required />
                        @* <input type="submit" value="Submit" /> *@
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <br />
    <br />

    @if (Model != null)
    {
        <table class="center" border="1" style="width:50%">
            <tr>
                <td>
                    <div style="text-align: left;">
                        <font size="5">@Model.Location.Name</font><br />
                        <font size="1">Chance of rain: ??%</font><br />
                        <font size="6">@Model.Current.Temperature°</font><br />
                    </div>
                </td>
                <td>
                    <img src="@Model.Current.Weather_Icons[0]"></img><br />
                    <font size="3">@Model.Current.Weather_Descriptions[0]</font><br />
                </td>
                <td rowspan="3">
                    7-day forecast
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="center" border="1" style="width:100%">
                        <div style="text-align: left;">
                            <font size="1">TODAY'S FORECAST</font><br />
                        </div>
                        @if (Model.TodayHourly != null && Model.TodayHourly.Any())
                        {
                            <tr>
                                @foreach (var hour in Model.TodayHourly)
                                {
                                    <th>@hour.Time</th>
                                }
                            </tr>
                            <tr>
                                @foreach (var hour in Model.TodayHourly)
                                {
                                    <td>
                                        <img src="@hour.Weather_Icons[0]"></img><br />
                                        @hour.Temperature°
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">2</td>
            </tr>
            <tr>
                <td colspan="2">3</td>
            </tr>
        </table>
    }
    else if (ViewData.ContainsKey("IsFormSubmitted") && (bool)ViewData["IsFormSubmitted"])
    {
        <p>@ViewData["Message"]</p>
    }
</div>
