@model WeatherModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Weather Application</h1> *@
    <br />
    <br />
    <form asp-controller="Home" asp-action="GetWeatherDetails" method="post">
        <div>
            <input class="rounded-box" type="text" name="location" placeholder="Search for cities" required />
            @* <input type="submit" value="Submit" /> *@
        </div>
    </form>
    <br />
    <br />

    @if (Model != null)
    {
        <h5>City: @Model.Location.Name</h5> <br />
        <h5>Country: @Model.Location.Country</h5> <br />
        <h5>Region: @Model.Location.Region </h5> <br />
        <h5>Time: @Model.Location.LocalTime</h5> <br />
        <h5>Temperature: @Model.Current.Temperature</h5> <br />
        <h5>Humidity: @Model.Current.Humidity</h5> <br />
        <h5>Weather Description: @Model.Current.Weather_Descriptions[0]</h5> <br />
    }
    else if (ViewData.ContainsKey("IsFormSubmitted") && (bool)ViewData["IsFormSubmitted"])
    {
        <p>@ViewData["Message"]</p>
    }
</div>
