@model WeatherModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Weather Application</h1> *@
    <br />
    <br />
    <form asp-controller="Home" asp-action="GetWeatherDetails" method="post">
        <table class="center" style="width:100%">
            <tr>
                <td colspan="2">
                    <div>
                        <input class="rounded-box" type="text" name="location" placeholder="Search for cities" required />
                        @* <input type="submit" value="Submit" /> *@
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <br />
    <br />

    @if (Model != null)
    {
        <table class="rounded-table" style="width:60%">
            <tr>
                <td class="left-padding">
                    <div style="text-align: left;">
                        <span class="white-text-size-5">@Model.Location.Name</span><br />
                        <span class="white-text-size-6">@Model.Current.Temperature°</span><br />
                    </div>
                </td>
                <td>
                    <img src="@Model.Current.Weather_Icons[0]"/><br />
                    <span class="white-text-size-3">@Model.Current.Weather_Descriptions[0]</span><br />
                </td>
                <td rowspan="5">
                    <table class="rounded-table-inner" style="width:100%; height:100%">
                        <tr>
                            <td class="left-padding" colspan="3" style="text-align: left;">
                                <span class="grey-text-size-1"><b>5-DAY FORECAST</b></span><br />
                            </td>
                        </tr>
                        @foreach(var forecast in Model.Forecast)
                        {
                            <tr>
                                <td class="left-padding" style="text-align: left;" width="10%">
                                    <span class="grey-text-size-1">@forecast.Date</span>
                                </td>
                                <td>
                                    <img src="@forecast.Weather_Icons[0]"/>
                                </td>
                                <td style="text-align: left;">
                                    <span class="white-text-size-1">@forecast.Weather_Descriptions[0]</span>
                                </td>
                                <td style="text-align: left;">
                                    <span class="white-text-size-1">@forecast.Maxtemp°</span><span class="grey-text-size-1">/@forecast.Mintemp°</span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="rounded-table-inner" style="width:100%">
                        <tr>
                            <td class="left-padding">
                                <div style="text-align: left;">
                                    <span class="grey-text-size-1"><b>HOURLY FORECAST</b></span><br />
                                </div>
                            </td>
                        </tr>
                        @if (Model.TodayHourly != null && Model.TodayHourly.Any())
                        {
                            <tr>
                                @foreach (var hour in Model.TodayHourly)
                                {
                                    <td>
                                        <span class="grey-text-size-2">@hour.Time</span>
                                    </td>
                                }
                            </tr>
                            <tr>
                                @foreach (var hour in Model.TodayHourly)
                                {
                                    <td>
                                        <img src="@hour.Weather_Icons[0]"/><br />
                                        <span class="white-text-size-3"><b>@hour.Temperature°</b></span>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="rounded-table-inner" style="width:100%">
                        <tr>
                            <td class="left-padding">
                                <div style="text-align: left;">
                                    <span class="grey-text-size-1"><b>AIR CONDITIONS</b></span><br />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left-padding">
                                <div style="text-align: left;">
                                    <span class="grey-text-size-3">Real Feel</span><br />
                                    <span class="white-text-size-4">@Model.Current.Feelslike°</span><br />
                                </div>
                            </td>
                            <td>
                                <div style="text-align: left;">
                                    <span class="grey-text-size-3">Wind</span><br />
                                    <span class="white-text-size-4">@Model.Current.Wind_Speed km/h</span><br />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left-padding">
                                <div style="text-align: left;">
                                    <span class="grey-text-size-3">Humidity</span><br />
                                    <span class="white-text-size-4">@Model.Current.Humidity%</span><br />
                                </div>
                            </td>
                            <td>
                                <div style="text-align: left;">
                                    <span class="grey-text-size-3">Pressure</span><br />
                                    <span class="white-text-size-4">@Model.Current.Pressure Hg</span><br />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
    else if (ViewData.ContainsKey("IsFormSubmitted") && (bool)ViewData["IsFormSubmitted"])
    {
        <p>@ViewData["Message"]</p>
    }
</div>
